<div class="xd container">
  <div class="jumbotron-fluid animated fadeIn fast">
    <div class="container">
      <h1>Cartagena</h1>
      <hr>
      <div class="embed-responsive embed-responsive-16by9">
        <video class="embed-responsive-item" autoplay muted loop controls>
          <source src="assets/img/Cartagena.mp4" type="video/mp4">
        </video>
      </div>
      <script type="module" src="./index.js"></script>
    </div>
  </div>

  <div class="container embed-responsive">
    <h1>Modelos 3D</h1>
    <hr>
    <div id="fondos" style="width: 100%; height: 100%;"></div>
    <div id="mensaje" class="mensaje"></div>
  </div>
</div>
