<div class="xd container">
  <div class="jumbotron-fluid animated fadeIn fast">
    <div class="container">
      <h1>Cartagena</h1>
      <hr>
      <div class="embed-responsive embed-responsive-item embed-responsive-16by9 mt-4">
        <video class="embed-responsive-item" autoplay muted loop controls>
          <source src="assets/img/Cartagena.mp4" type="video/mp4">
        </video>
      </div>
      <script type="module" src="./index.js"></script>
    </div>
  </div>

  <div class="container embed-responsive mt-4">
    <div class="card-columns">
      <div class="card bg-transparent custom-border-primary shadow">
        <div class="card-body">
          <h5 class="card-title">Pedro de Heredia</h5>
          <!-- Usar el nuevo componente de modelo3D -->
          <app-modelo3d></app-modelo3d>
          <p class="card-text"><small class="text-muted">Last updated 3 mins ago</small></p>
          <button type="button" class="btn btn-outline-primary btn-block">Ver más...</button>
        </div>
      </div>

      <!-- Agregar otra tarjeta horizontal aquí -->
      <div class="card bg-transparent custom-border-primary shadow">
        <div class="card-body">
          <h5 class="card-title">Cultura</h5>
          <!-- Contenido de la segunda tarjeta -->
          <app-modelo3d2></app-modelo3d2>

          <p class="card-text"><small class="text-muted">Última actualización hace 5 mins</small></p>
          <button type="button" class="btn btn-outline-primary btn-block">Ver más...</button>
        </div>
      </div>

      <div class="card bg-transparent custom-border-primary shadow">
        <div class="card-body">
          <h5 class="card-title">Historia</h5>
          <!-- Contenido de la segunda tarjeta -->
          <app-modelo3d3></app-modelo3d3>

          <p class="card-text"><small class="text-muted">Última actualización hace 5 mins</small></p>
          <button type="button" class="btn btn-outline-primary btn-block">Ver más...</button>
        </div>
      </div>
    </div>
  </div>

  <div class="container embed-responsive ">
    <h1>Modelos 3D</h1>
    <hr>
    <div id="fondos" style="width: 100%; height: 100%;"></div>
  </div>
</div>
