<h1>HOLA CARTAGENA</h1>
<hr>


<div class="card-columns">

  <div class="card">
    <div class="card-body">
      <h5 class="card-title" style="font-weight: bold;">¿Por qué venir a Cartagena?</h5>
      <img
      src="assets/img/cartagenaN.jpg"
      class="card-img-top mb-4 mt-4"
      alt="..."
    />
      <p class="card-text">Cartagena de Indias es una joya histórica y cultural que cautiva a los visitantes con sus encantadoras calles empedradas, arquitectura colonial bien conservada y una atmósfera vibrante. Sus murallas antiguas, plazas llenas de vida, exquisita gastronomía y playas de aguas cristalinas la convierten en un destino imperdible en Colombia..</p>
      <a
      class="btn boton mb-4"
      href="https://wa.link/n2dras"
      target="_blank"
      role="button"
      style="background-color: #240df0; border-color: #240df0; color: #fff"
    >
      Contactar
    </a>

      <button type="button" [routerLink]="['home']" class="btn btn-outline-primary btn-block">Ir al Inicio</button>
    </div>
  </div>
</div>
