<footer class="footer mt-auto py-3 bg-light">
  <div class="container">
    <div class="row">
      <div class="col-md-4">
        <h5>Contacto</h5>
        <p>Dirección: Calle, Cartagena</p>
        <p>Teléfono: +57 3124567891</p>
        <p>Email: cartagena@turismo.com</p>
      </div>

      <div class="col-md-4">
        <h5>QUIENES SOMOS</h5>
        <ul class="list-unstyled">
          <li routerLinkActive="active"><a href="#">Acerca de nosotros</a></li>
          <li routerLinkActive="active"><a  [routerLink]="['about']">Destinos</a></li>
          <li routerLinkActive="active"><a [routerLink]="['heroes']">Promociones</a></li>
          <li><a href="#">Blog</a></li>
        </ul>
      </div>

      <div class="col-md-4">
        <h5>Redes sociales</h5>
        <ul class="list-unstyled">
          <li><a href="#" target="_blank">Facebook</a></li>
          <li><a href="#" target="_blank">Twitter</a></li>
          <li><a href="#" target="_blank">Instagram</a></li>
          <li><a href="#" target="_blank">LinkedIn</a></li>
        </ul>
      </div>
    </div>
  </div>
</footer>
